body {
	background-color: #EEE;
	padding: 15px;
}

.highlight
{
	padding: 20px;
	text-align: center;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.title {
	background-color: #FFF;
	border: 1px outset #DDD;
	padding: 5px;
	margin: 5px;
}

.scanitem {
	background-color: #FFF;
	border: 1px outset #DDD;
	padding: 5px;
	margin: 5px;
	display: inline-block;

}
