<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<title>Scans</title>

	</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-default" role="navigation">
				<p class="navbar-brand" href="#">Scans</p>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/scan">{{if .Ready}}Nouveau scan{{else}}Scan en cours{{end}}</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/refresh">Rafraichir</a></li>
					</ul>
				</div>
			</nav>

			{{range .Items}}
			<div class="scanitem">
				<p>#{{.Id}} ({{.Date}})</p>
				<a href="{{.Filepath}}"><img src="{{.Thumbnail}}" /></a><br>
				<button type="button" class="btn btn-default btn-sm" onclick="askForDelete('{{.Filepath}}')">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
			{{end}}
		</div>
		<div class="modal "></div>
		<script>
			function askForDelete(target) {
				if (confirm("Supprimer ce fichier ?")) {
					$.get("/remove?target="+target, function(data) {
						location.reload(true);
					});
				}
			}
		{{if not .Ready}}
			$.get("/scan/wait", function(data) {
				location.reload(true);
			});
		{{end}}
		</script>
	</body>
</html>
