<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<title>Scans</title>
	</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-default" role="navigation">
				<p class="navbar-brand" href="#">Scans</p>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a id="scan_link" href="/scan">Scan en cours</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/refresh">Rafraichir</a></li>
					</ul>
				</div>
			</nav>

			<div class="highlight">
				<p id="scan_status">Scan en cours...</p>
				<br />
				<a href="/" role="button" id="back_button" class="btn btn-default">Retour</a>
			</div>


		</div>
		<script>
			$.get("/scan/wait", function(data) {
				$("#back_button").removeClass("btn-default").addClass("btn-primary");
				$("#scan_status").html("Scan terminé !");
				$("#scan_link").html("Nouveau scan");
			});
		</script>
	</body>
</html>

